@import "media";
@import "mixins";
@import "skin";

.footer-container {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #74c69d;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mobile () {
        padding: 31px 0;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    &__icons {
        display: flex;
        gap: 20px;
    }

    &__text {
        font-family: $font-main;
        font-weight: 400;
        font-size: 20px;

        line-height: 25px;
        text-align: right;
        color: $color-white;
    }
}